*
{
    margin:0;
    padding:0;
}
 
.gallery
{
    width:600px;
    height:400px;
    margin:5px auto;
    background:#F5FFFA;
    /*border:1px solid orange;*/
}
 
.slider
{
    width:inherit;
    height:400px;
    overflow:scroll;
}
.slider ul
{
    width:10000px;
    list-style:none;
    margin-left:0px;
}
.slider li
{
    float:left;
}
 
#slider-nav
{
    display:none; /* This is important to hide the buttons if jQuery is Not supported. */
    margin-top: -10em;
    cursor: pointer;        
}
